.col1, .col2, .col3 {
  float: left;
  width: 30%;
  margin-right: 5%
}
.col3 {
  margin-right: 0%;
}
.main-content {
  width: 65%;
  float: left;
  margin-right: 5%;
}
.sidebar {
  width: 30%;
  float: left;
}
.sidebox-1 {
  display: initial;
}
